@font-face { font-family: manifesto; src: url('MANIFESTO.TTF'); }


nav#nav{
  position: fixed;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: rgba(51,56,56,0.4);
  border-color: gray;
  /*transition: all 0.4s ease;*/
}

/*nav.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
}
*/
/*section#section1{
  z-index: 5;
  background-color: rgba(0,0,255,1);
  background: rgba(0,0,255,1);
  color: rgba(0,0,255,1);s
}*/

body{
  font-family: manifesto;
}

#cf, .headshot {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  margin:0 auto;
  z-index: 0;
}

#cf, .background {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  margin:0 auto;
  z-index: 0;
}

#cf img {
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


@keyframes FadeInOut {
  0% {
    opacity:1;
  }
  25% {
    opacity:.75;
  }
  50% {
    opacity:.50;
  }
  75% {
    opacity:.25;
  }
  100% {
    opacity:0;
  }
}

#cf img.top {
  animation-name: FadeInOut;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}


.title{
  position: absolute;
  
  color: rgba(255,0,164,1);
  font-size: 60px;
  top:27%;
  /*margin-bottom: 5px;*/
}

#nomad{
  position: relative;
  font-size: 80px;
  background: rgba(51,56,56,0.6);
  padding-left: 200px;
  left: -200%;
  /*top:27%;*/
}

#name{
  position: relative;
  font-size: 40px;
  background: rgba(51,56,56,0.6);
  right: -150%;
  /*top:5px;*/
  /*top: 27%;*/
  /*left: 0%;*/
}

.navbar-brand{
  font-weight: 900;
}

/*#prjHeader{
  position: absolute;
  top: px;
}*/

.body{
  position: relative;
  top: 100px;
  /*text-align: center;*/
}
div.fp-controlArrow {
    /*left: 0;
    border: none;
    width: 50px;
    height: 101px;*/
    color: black;
    border: 1px solid black;
    
}


/*#menu .active{
  background: black;
  background-color: black;
  color: black;
}*/

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a .navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: transparent;
}

